/* CALENDAR STYLING */
.calendar {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS", sans-serif;
    margin: 0;
    padding: 0;
}

.calendar .headerContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.googleLogo {
    margin-right: 10px;
}

.headerContainer p {
    font-size: 1.5rem;
    margin-bottom: 10px;
    margin-top: 0%;
}

.calendar .headerContainer .googleSignInButton {
    top: 5px;
    right: 10px;
    width: fit-content;
    margin-bottom: 20px;
    background-color: #b2d4e0;
    color: #425e68;
}

.calendarContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px; 
    height: 400px;
    background-color: #b2d4e0;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

.react-calendar {
    width: 100%;
    height: 100%;
    align-items: center;
    border: none;
    background: transparent;
    color: #425e68;
    font-size: 1rem;
    border-radius: 15px;
}

.react-calendar__tile {
    background-color: #425e68;
}

.react-calendar__tile--now {
    background-color:#C1E1C1; /* highlight system date */
    color: #000;
}

.react-calendar__navigation {
    background: #425e68;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
    border-radius: 10px;
    margin-bottom: 10px;
}

.react-calendar__navigation__label {
    color: #fff;
    background-color: #425e68;
    font-weight: bold;
    flex-grow: 0;
}

.react-calendar__navigation__arrow {
    background-color: #425e68;
    color: #fff;
    border-radius: 8px;        
    padding: 5px 10px;
    border: none;
}

.react-calendar__navigation__arrow:hover {
    background-color: #C1E1C1;
    color: #000;
}

.react-calendar__month-view__weekdays {
    text-align: center;
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    margin-bottom: 10px;
}


.calendarBody {
    display: flex;
    gap: 20px;
}

/* FORM STYLING */

.eventForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #b2d4e0; 
    padding: 20px;
    border-radius: 10px;
    width: 300px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.eventForm input,
.eventForm textarea {
    width: 90%;
    height: 30px;
    margin-bottom: 10px; 
    padding: 10px;
    border: 2px solid #425e68;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    font-size: 1rem;
}

.timePickerContainer {
    align-items: center;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 0px;    
    width: 100%;
    border-radius: 5px;
}

.timePickerContainer input {
    height: 20px;
    width: 90%;
}

.timePickerContainer .startTime {
    margin-right: 40px;
}

.timePickerContainer label {
    font-weight: bold;
    font-size: 0.85rem;
    color: #425e68;
}

.colorPickerContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    border-radius: 5px;
}

.colorPickerContainer .colorButton {
    background-color: transparent;
}

.colorPickerContainer svg {
    font-size: 50px;
}

.colorPickerContainer label {
    font-size: 0.95rem;
    font-weight: bold;
    color: #425e68;
    margin-bottom: 10px;
    margin-right: 20px;
    margin-left: 20px;
}

.eventForm button {
    background-color: #425e68;
    color: #fff;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.eventForm .cancelButton {
    margin-top: 10px;
    background: none;
    border: none;
    color:#425e68;
}

.eventForm .cancelButton:hover {
    text-decoration: underline;
}

/*EVENT LIST*/

.eventsList {
    height: 380px;
    max-height: 380px;
    overflow-y: auto; /* for scrolling overflow */
    background-color: #b2d4e0;
    padding: 15px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.eventsList .eventsHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.eventsList .eventsHeader .clearAllButton {
    background-color: #425e68;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
}

.eventsList .eventsHeader .clearAllButton:hover {
    background-color: #7698a4;
}

.eventsList h2 {
    color: #425e68;
}

/* scrollbar styling */
.eventsList::-webkit-scrollbar {
    width: 8px;
}

.eventsList::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 10px;
}

.eventsList::-webkit-scrollbar-track {
    background-color: #ddd;
    border-radius: 10px;
}

.eventsList .eventItem {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    color: #fff;
    position: relative;
}

.eventsList .eventItem .deleteButton {
    position: absolute;
    top: 5px;
    right: 15px;
    background: transparent;
    color: white;
    border: none;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    cursor: pointer;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.eventsList .eventItem .deleteButton:hover {
    text-decoration: underline;
}

.selectedDate {
    background-color: #FFEE8C !important; /*highlight selected date*/
    color: #000 !important;
}